<section class="brands_Upload_section">
    <div class="card">
      <div class="card-body">
        <div class="brands_header animated zoomIn">
          <h4 class="card-title">Products</h4>
          
        </div>
  
        <div class="brand_details table-responsive animated zoomIn">
          <table
            id="myTable"
            class="table table-striped border color-table inverse-table"
          >
            <thead>
              <tr>                
                <th>S.NO</th>
                <th>NAME</th>
                <th>PRODUCT AVAILABLE</th>
                <th>FINAL PRICE</th>
                
                <th>Actions</th>
              </tr>
            </thead>
  
            <tbody>
              <tr>
                <td>1</td>
                <!-- <td>{{ data?.Name }}</td> -->
                <td>Lucky</td>
                <td>kjg</td>
                <td>jhvhjvhv</td>
                                
                <td class="table_actions">
                  <button class="btn-green" type="button"  data-toggle="modal" data-target="#ProductviewModal">
                    <i class="fas fa-eye"></i>
                  </button>
                   <button class="btn-blue" type="button" data-toggle="modal" data-target="#EditProduct">
                  <i class="fas fa-pen"></i>
                </button>
                <button class="btn-red" type="button" >
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <!-- <td>{{ data?.Name }}</td> -->
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
                <td>Germany</td>
                <td class="table_actions">
                  <button class="btn-green" type="button"  data-toggle="modal" data-target="#ProductviewModal">
                    <i class="fas fa-eye"></i>
                  </button>
                   <button class="btn-blue" type="button" data-toggle="modal" data-target="#EditProduct">
                  <i class="fas fa-pen"></i>
                </button>
                <button class="btn-red" type="button" >
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <!-- <td>{{ data?.Name }}</td> -->
                <td>Centro comercial Moctezuma</td>
                <td>Francisco Chang</td>
                <td>Mexico</td>
                <td class="table_actions">
                  <button class="btn-green" type="button"  data-toggle="modal" data-target="#ProductviewModal">
                    <i class="fas fa-eye"></i>
                  </button>
                   <button class="btn-blue" type="button" data-toggle="modal" data-target="#EditProduct">
                  <i class="fas fa-pen"></i>
                </button>
                <button class="btn-red" type="button" >
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>









   



