<div class="dashboard-section">
    <div class="col-md-12 p-0">
        <div class="row">
            <div class="col-md-3">
                <div class="card vehicle_details animated fadeInUp">
                    <div class="card_data">
                        <!-- <h4 [routerLink]="['/ServiceProviders']">Service Provider</h4> -->
                        <div class="card_count">
                            <!-- <h5>{{getserviceprovide}}</h5> -->
                        </div>
                      
                    </div>
                    

                </div>
                
            </div>

            <div class="col-md-3">
                <div class="card charge_details animated fadeInDown">
                    <div class="card_data">
                        <!-- <h4>Vendors</h4> -->
                        <div class="card_count">
                            <!-- <h5>{{getVendorDetails}}</h5> -->
                            <!-- <h5>{{chargerCount}}</h5> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card charge_details animated fadeInUp c1">
                    <div class="card_data">
                        <!-- <h4>User List</h4> -->
                        <div class="card_count">
                            <!-- <h5>{{getUserDetail}}</h5> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card charge_details animated fadeInUp c1">
                    <div class="card_data">
                        <!-- <h4>Vendor Products</h4> -->
                        <div class="card_count">
                            <!-- <h5>{{getVendorProductDetail}}</h5> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card charge_details animated fadeInUp c1">
                    <div class="card_data">
                        <!-- <h4>Products</h4> -->
                        <div class="card_count">
                            <!-- <h5>{{getproduct}}</h5> -->
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-3">
                <div class="card charge_details animated fadeInDown c2">
                    <div class="card_data">
                        <!-- <h4>Rating</h4> -->
                        <div class="card_count">
                            <!-- <h5>6</h5> -->
                            <!-- <h5>{{brandCount}}</h5> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card charge_details animated fadeInUp c3">
                    <div class="card_data">
                        <!-- <h4>Reward Points</h4> -->
                        <div class="card_count">
                            <!-- <h5>{{getRewardDetail}}</h5> -->
                            <!-- <h5>{{bookingDetailsCount}}</h5> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card charge_details animated fadeInUp c2">
                    <div class="card_data">
                        <!-- <h4>FeedBack</h4> -->
                        <div class="card_count">
                            <!-- <h5>{{getFeedBackDetail}}</h5> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card charge_details animated fadeInUp c2">
                    <div class="card_data">
                        <!-- <h4>Complaints</h4> -->
                        <div class="card_count">
                            <!-- <h5>{{getComplaintDetail}}</h5> -->
                        </div>
                    </div>
                </div>
            </div>

        <!--     <div class="col-md-4">
                <div class="card charge_details animated fadeInDown">
                    <div class="card_data" [routerLink]="['/admin/HomeBanners']">
                        <h4>Home Banners</h4>
                        <div class="card_count">
                            <h5>{{BannerCount}}</h5>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- <div class="col-md-3">
                <div class="card">
                    <div class="card_data">
                        <h4>Brands</h4>
                        <div class="card_count">
                            <h5>5</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card_data">
                        <h4>Vehicles</h4>
                        <div class="card_count">
                            <h5>5</h5>
                        </div>
                    </div>
                </div>
            </div> -->


        </div>
    </div>
</div>